<div {{field_attribute.addClass([" drupal-gallery-overlay","gallery-overlay-section"])}}>
	<div {{gallery_attribute.addClass("gallery-overlay-section-gallery")}}>
		<div class="row">
			{% for element in elements %}
				<div {{image_attributes.image_wrappers_class.addClass("base-image-container")}}>
					<div class="go-img-wrapper img-wrapper">
						<a href="{{element.url}}">{{element.image}}</a>
						<div class="go-img-overlay img-overlay">
							<i {{image_attributes.icon_class}} aria-hidden="true"></i>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<!-- End row -->
	</div>
	<!-- End image gallery -->
</div>
