{% if items %}
<div {{ attribute }}>
	{% for item in items %}
        <div {{ attribute_box }}>
          <div {{ item.attribute_title }}>
            {% if item.icon %}
              <div class="field-icon text-light">
                {{ item.icon }}
              </div>
            {% endif %}
            {% if item.title %}
              <div class="field-title font-weight-bold">
                {{ item.title }}
              </div>
            {% endif %}
          </div>
          {% if item.description %}
            <div {{ item.attribute_content }}>
              <div class="field-description">
                {{ item.description }}
              </div>
            {% endif %}
          </div>
        </div>
    {% endfor %}    
</div>
{% endif %}
